USE [BDT CONTROL EMPLOYEE]
GO
/****** Object:  Table [dbo].[Control de entrada]    Script Date: 20/12/2020 2:13:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Control de entrada](
	[Control de entrada] [nchar](10) NOT NULL,
	[Hora de entrada] [nchar](10) NULL,
	[Hora de salida] [nchar](10) NULL,
 CONSTRAINT [PK_Control de entrada] PRIMARY KEY CLUSTERED 
(
	[Control de entrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 20/12/2020 2:13:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Empleado] [nchar](10) NOT NULL,
	[Nombre de empleado] [nchar](500) NULL,
	[Codigo de empleado] [nchar](500) NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horas trabajadas]    Script Date: 20/12/2020 2:13:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horas trabajadas](
	[Horas Hombres trabajadas] [nchar](10) NULL,
	[Nombre de empleado] [nchar](500) NULL,
	[Codigo de empleado] [nchar](500) NULL,
	[Hora de entrada] [nchar](10) NULL,
	[Hora de salida] [nchar](10) NULL,
	[Area del empleado] [nchar](40) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table1]    Script Date: 20/12/2020 2:13:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table1](
	[empleado] [nchar](10) NULL
) ON [PRIMARY]
GO
